@media screen and (min-width: 780px) {

  .Article_type_small {
    grid-column: span 2;
    height: 234px;
  }

}

@media screen and (min-width: 1200px) {

  .Article_type_small {
    height: 270px;
  }

}
