@media screen and (min-width: 780px) {

  .Article-Column {
    grid-column: span 2;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

}

@media screen and (min-width: 1200px) {
  
  .Article-Wrapper {
    height: 280px;
  }

}
